.start-section {
    position: relative;
    background-image: url('../../images/home-image.jpg');
    background-size: cover;
    height: 100vh;
}

@media screen and (max-width: 900px) {
    .start-section {
        margin-top: 15rem;
    }
}