.reg-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('../../images/home-image-1.jpg');
    background-size: cover;
    justify-content: center;
    align-items: center;
    position: relative;
}

.description-container {
    width: 60%;
    background-color: var(--color-primary-rgb);
    padding: 2rem 5rem;

    border-left: 1.5rem solid var(--color-primary);
}

.description-text {
    font-family: var(--font-text);
    color: var(--color-white);
    font-size: 3rem;
}

.description-logo { 
    color: var(--color-primary)
}

.modal-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    transition: .2s ease-out;
    z-index: -1;
}

.modal-container-show {
    animation: background-change .2s ease-out 1 forwards;
}

.modal-container-hide {
    animation: background-change-reverse .2s ease-out 1 forwards;
}