.modal {
    height: 50rem;
    width: 100rem;
    background-color: var(--color-black);
    position: relative;
}

.show-modal {
    animation: show-modal .2s ease-out 1 forwards;
}

.hide-modal {
    animation: hide-modal .2s ease-out 1 forwards;
}

.modal-close-btn {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 2.5rem;
    color: var(--color-white);
    cursor: pointer;
}

.modal-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    transition: .2s ease-out;
    z-index: -1;
}

.modal-container-show {
    animation: background-change .2s ease-out 1 forwards;
}

.modal-container-hide {
    animation: background-change-reverse .2s ease-out 1 forwards;
}