@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&family=Ubuntu:wght@300;400;500&display=swap');

:root {
    /* Color variables */
    --color-primary: #df3b3b;
    --color-primary-rgb: rgb(223, 59, 59, 0.2);
    --color-primary-dark: #8d2424;
    --color-grey: #2a2a2a;
    --color-grey-light-1: #9b9b9b;
    --color-grey-light-2: #e2e2e2;
    --color-grey-dark: #191919;
    --color-dark: #0f0f0f;
    --color-white: #fff;
    --color-black: #000;

    /* Font variables */
    --font-heading: 'Roboto Slab', serif;
    --font-text: 'Ubuntu', sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%; /* 1rem == 10px */
}

@media screen and (max-width: 900px) {
    html {
        font-size: 50%;
    }
}

body {
    background-color: var(--color-grey-dark);
    box-sizing: border-box;
    overflow-x: hidden;
}

.fade-in {
    animation: fade-in .3s ease-out forwards;
}

.text-red {
    color: var(--color-primary);
}

.text-uppercase {
    text-transform: uppercase;
}

@keyframes slide-down {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(3rem);
    }
}

@keyframes pulsate {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes background-change {
    0% {
        background-color: transparent;
        z-index: -1;
    }

    100% {
        background-color: rgba(0,0,0, .6);
        z-index: 1;
    }
}

@keyframes background-change-reverse {
    0% {
        background-color: rgba(0,0,0, .6);
        z-index: 1;
    }

    100% {
        background-color: rgba(0,0,0,0);
        z-index: -1;
    }
}

@keyframes show-modal {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes hide-modal {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes show-menu {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes hide-menu {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes appear-up-right {
    0% {
        transform: rotate(45deg) translate(3rem, 20rem);
        opacity: 0;
    }

    100% {
        transform: rotate(45deg) translate(0%, 0%);
        opacity: 1;
    }
}

@keyframes appear-up-left {
    0% {
        transform: rotate(-45deg) translate(3rem, 20rem);
        opacity: 0;
    }

    100% {
        transform: rotate(-45deg) translate(0%, 0%);
        opacity: 1;
    }
}

@keyframes appear-bottom {
    0% {
        transform: translate(-50%, -10rem);
        opacity: 0;
    }

    100% {
        transform: translate(-50%, 0%);
        opacity: 1;
    }
}