@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&family=Ubuntu:wght@300;400;500&display=swap');

:root {
    /* Color variables */
    --color-primary: #df3b3b;
    --color-primary-dark: #8d2424;
    --color-grey: #2a2a2a;
    --color-grey-light: #9b9b9b;
    --color-grey-dark: #191919;

    /* Font variables */
    --font-heading: 'Roboto Slab', serif;
    --font-text: 'Ubuntu', sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%; /* 1rem == 10px */
}

body {
    background-color: var(--color-grey-dark);
    box-sizing: border-box;
    overflow-x: hidden;
}