.nav {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    transition: .3s ease-out;
}

.nav-logo {
    transition: .2s ease-out;
}

.nav-logo:hover {
    filter: brightness(120%) contrast(120%);
}

.nav-scroll {
    background-color: var(--color-grey-dark);
}

.right-section {
    display: flex;
    width: 55rem;
    justify-content: flex-end;
}

@media screen and (max-width: 900px) {
    .nav {
        background-color: var(--color-black);
    }

    .btn-login {
        margin-top: 1rem;
    }
    
}

.btn-red-small {
    margin-left: 2rem;
    padding: 1rem 2.5rem;
    font-size: 1.5rem;
    text-decoration: none;
    outline: none;
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
    font-weight: 600;
    font-family: var(--font-text);
    background-color: transparent;
    transition: .3s ease;
}

.btn-red-small:hover {
    background-color: var(--color-primary);
    color: var(--color-grey-dark);
    cursor: pointer;
}

.btn-red-small:active {
    transform: translateY(2px);
}

.btn-align-down {
    margin-top: auto;
}

.nav-link {
    margin-top: 2rem;
    text-transform: uppercase;
    color: var(--color-white);
    font-size: 1.5rem;
    font-family: var(--font-text);
    text-decoration: none;
    transition: .2s ease-out;
}

.nav-link:first-of-type {
    margin-top: 5rem;
}

.nav-link-active {
    font-size: 1.6rem;
    outline: 1px solid var(--color-primary);
    outline-offset: 5px;
}

.nav-link:hover {
    color: var(--color-primary);
}

.nav-link:active {
    transform: scale(1.05);
}

.hamburger-container {
    position: relative;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 3rem;
}

.hamburger {
    width: 2rem;
    height: 2px;
    background-color: var(--color-white);
    cursor: pointer;
    transition: .2s ease-out;
}

.hamburger::before {
    content: '';
    width: 3rem;
    height: 2px;
    background-color: var(--color-white);
    position: absolute;
    top: 7px;
    transition: .2s ease-out;
}

.hamburger::after {
    content: '';
    width: 1.5rem;
    height: 2px;
    background-color: var(--color-white);
    position: absolute;
    bottom: 7px;
    transition: .2s ease-out;
}

.hamburger-container:hover .hamburger::before {
    width: 2.5rem;
}

.hamburger-container:hover .hamburger::after {
    width: 3rem;
}

.hamburger-container:hover .hamburger {
    background-color: var(--color-primary);
}

.menu {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    padding: 2rem 5rem;
    background-color: var(--color-black);
    display: flex;
    flex-direction: column;
}

.menu-show {
    animation: show-menu .3s ease-in forwards;
}

.menu-hide {
    animation: hide-menu .3s ease-in forwards;
}

.close-btn-container {
    position: relative;
    height: 2.5rem;
    width: 2.5rem;
    margin-left: auto;
    cursor: pointer;
}

.close-btn-container:hover .close-btn {
    background-color: var(--color-primary);
}

.close-btn-container:hover  .close-btn::before {
    background-color: var(--color-primary);
}

.close-btn {
    position: absolute;
    top: 50%;
    left: 0;
    transform: rotate(45deg);
    height: 2px;
    width: 2.5rem;
    background-color: var(--color-white);
    cursor: pointer;
    transition: .3s ease-out;
}

.close-btn::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 2.5rem;
    background-color: var(--color-white);
    transform: rotate(90deg);
    transition: .3s ease-out;
}