.profile-page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.avatar-container {
    width: 50rem;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.avatar-container:hover .user-avatar {
    filter: brightness(50%);
}

.user-avatar {
    width: 30rem;
    transition: .2s ease-in;
}

.profile-page-btn {
    background-color: var(--color-primary);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1.5rem 2.5rem;
    width: 20rem;
    position: absolute;
    font-family: var(--font-text);
    text-transform: uppercase;
    font-size: 1.5rem;
    transition: .2s ease-in;
    border-radius: 20px 20px 0px 0px;
}

.profile-page-btn:hover {
    background-color: var(--color-primary-dark);
}

.profile-page-btn:nth-of-type(1) {
    transform: rotate(45deg);
    top: 10%;
    right: 0;
    margin-left: 3rem;
}

.profile-page-btn:nth-of-type(2) {
    transform: rotate(-45deg);
    left: 0;
    top: 10%;
    margin-right: 5rem;
}

.profile-page-btn:nth-of-type(3) {
    bottom: -5%;
    transform: translateX(-50%);
    left: 50%;
    border-radius: 0px 0px 20px 20px;
}

.profile-page-btn:nth-of-type(4) {
    top: 60%;
}