.workout-component-wrapper {
    display: flex;
    position: relative;
    top: 10rem
}

.workout-history { 
    width: 30%;
}

.empty-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-primary);
    font-family: var(--font-text);
    font-weight: 600;
    font-size: 4rem;
}

.info-container {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
}

.info-workout-name {
    color: var(--color-grey-light-1);
    font-family: var(--font-text);
    font-size: 2rem;
}

.info-workout-btn {
    margin-left: 2rem;
    outline: 2px solid var(--color-primary);
    border: none;
    background-color: transparent;
    color: var(--color-primary);
    padding: .5rem 1.5rem;
    font-family: var(--font-text);
    text-transform: uppercase;
    transition: .2s ease-out;
    cursor: pointer;
}

.info-workout-btn:hover {
    background-color: var(--color-primary);
    color: var(--colo-grey-dark);
}

.info-workout-btn:active {
    transform: translateY(5px);
}

.workout-container {
    position: sticky;
    left: 30%;
    top: 25%;
    height: 60vh;
    width: 65%;
    outline: 2px solid var(--color-grey-light-1);
    padding: 2rem 5rem;
}

.workout-container-name {
    text-align: center;
    color: var(--color-primary);
    font-family: var(--font-text);
    font-weight: 600;
    font-size: 3rem;
}

.workout-container-date {
    text-align: center;
    color: var(--color-primary);
    font-family: var(--font-text);
    font-weight: 200;
    font-size: 2rem;
}

.workout-container-weight {
    color: var(--color-grey-light-1);
    font-family: var(--font-text);
    font-weight: 400;
    font-size: 2rem;
}