.footer {
    width: 100%;
    background-color: var(--color-black);
    margin-top: 5rem;
    padding:3rem 0;
    text-align: center;
    font-size: 2rem;
    font-family: var(--font-text);
    color: var(--color-grey-light-1);
}